.alert {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10vh;
    height: 2rem;
    width: fit-content;
    display: flex;
    align-items: center;
    padding: 5px 20px;
    animation: slideIn 1s;
    z-index: 999;
}

.alert img {
    height: 2rem;
    margin-right: 10px;
}
.errorIcon{
    scale: 2;
    margin-right: 20px;
    margin-bottom: 10px;
    color: rgba(222, 52, 48);
}
.succesIcon{
    scale: 2;
    font-weight: 100;
    margin-right: 20px; 
    margin-bottom: 10px;
    color: rgba(71, 160, 113);

}

.alertText {
    color: white;
}

.error {
    background: rgba(255, 0, 0, 0.45);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.2px);
    -webkit-backdrop-filter: blur(11.2px);
    border: 1px solid rgba(255, 0, 0, 0.36);
}

.success {
    background: rgba(6, 140, 0, 0.54);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.4px);
    -webkit-backdrop-filter: blur(11.4px);
    border: 1px solid rgba(6, 140, 0, 0.37);
}

@keyframes slideIn {
    0% {
        top: -10vh
    }

    100% {
        top: 10vh
    }
}